.create-note{
    form{
        color: #e8eaed;
        .form-control{
            background-color: transparent;
            color: #e8eaed;
            border-radius: 25px;
            max-height: 185px;
        }
    }
}