<section class="create-note">
    <form (ngSubmit)="createNote()" [formGroup]="noteForm">
        <div class="mb-3">
            <label for="title" class="form-label">Titulo:</label>
            <input type="text" autocomplete="off" oninput="this.value = this.value.toUpperCase()" formControlName="title" class="form-control" id="title" placeholder="Titulo:">
            <div id="emailHelp" class="form-text" *ngIf="noteForm.controls.title.touched && noteForm.controls.title.errors?.isEmail" >El titulo no puede ser un correo electrónico</div>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Nota:</label>
            <textarea oninput="this.value = this.value.toUpperCase()" class="form-control" formControlName="content" id="content" rows="3" placeholder="Agrega una nota..." ></textarea>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-outline-success" type="submit">Guardar</button>
        </div>
    </form>
</section>