<section class="sidebar">
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li class="has-subnav">
                <a routerLink="/archived">
                    <i class="bi bi-archive-fill bi-2x"></i>
                    <span class="nav-text">
                        Notas archivadas
                    </span>
                </a>

            </li>
        </ul>
        <ul class="logout">
            <li>
                <a (click)="logout()">
                    <i class="bi bi-box-arrow-left bi-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</section>