<section class="dashboard mt-5">
    <div class="row">
        <div class="card col-3 p-0" *ngFor="let note of notes | async">
          <div class="card-header bg-transparent">
            <i class="bi bi-trash" (click)="removeNote(note.id)" ></i>
            <i class="bi bi-archive"></i>
          </div>

          <div class="card-body" (click)="editNote(note.id)" href="#noteModal" data-bs-toggle="modal">
              <h5 class="card-title">{{ note.title }}</h5>
              <p class="card-text">{{note.content}}</p>
          </div>

          <div class="card-footer bg-transparent">
              <p>{{note.date * 1000 | date: 'dd-MM-YYYY'}}</p> <!--  * 1000 | date: 'dd-MM-YYYY' -->
          </div>
        </div>
    </div>

    <div class="modal fade" id="noteModal" #content aria-hidden="true" aria-labelledby="noteModalLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <app-create-note [id]="idNoteEdit"></app-create-note>
            </div>
          </div>
        </div>
      </div>

    <div class="create-note">
        <button class="btn btn-outline-success" (click)="idNoteEdit = '' " data-bs-toggle="modal" href="#noteModal" role="button">
            <i class="bi bi-plus-lg"></i>
        </button>
    </div>
</section>